* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
  user-select: none;
}